
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;1,6..12,300;1,6..12,400&display=swap');

$bg-color-dark: #1c1c1c;

$bg-color-light: #f5f5f5;

$color-hover: #ddac17;

$color-degradado: #8d5f32;

$font-color: #f5f5f5;

$font-monserrat: 'Montserrat', sans-serif;
