@import '../abstracts/mixins';
@import '../abstracts/variables';

.navbar-display {
    @include flex-row;
    background-color: $bg-color-dark;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1vh;
    padding: 2.5vw;
    position: fixed;
    z-index: 10;

    .navbar-logo {

        img {
            width: 8vw;
            height: auto;
        }
    }

    .navbar-list-display {

        .navbar-list {
            @include flex-row;
            gap: 2vw;
            font-size: 0.8vw;

            a{
                text-decoration: none;
                color: $font-color;
                font-family: $font-monserrat;

                &:hover {
                    color: $color-hover;
                    transition: ease-out 0.7s;
                }
                
            }
        }

    }



}